.logo {
  background: url(../../../images/logo.svg);
  width: 38px;
  height: 38px;
  background-color: transparent;
  background-position: center;
  box-sizing: border-box;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
