.tech {
  background-color: #272727;
}

.tech__wrapper {
  padding: 70px 18px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .tech__wrapper {
    padding: 90px 50px;
  }
}

@media screen and (min-width: 1280px) {
  .tech__wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 110px 70px;
  }
}

.tech__title {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.04em;
  text-align: center;
  padding: 0;
  margin: 0 0 24px;
}

@media screen and (min-width: 768px) {
  .tech__title {
    font-size: 50px;
    line-height: 58px;
    margin: 0 0 22px;
  }
}

.tech__description {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.04em;
  text-align: center;
  padding: 0;
  margin: 0 0 50px;
}

@media screen and (min-width: 768px) {
  .tech__description {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 83px;
  }
}

.tech__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: calc(84px * 2 + 10px);
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 550px) {
  .tech__container {
    width: calc(84px * 4 + 30px);
  }
}

@media screen and (min-width: 768px) {
  .tech__container {
    width: 100%;
    justify-content: center;
  }
}

.tech__icon {
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  border-radius: 10px;
  min-height: 57px;
  width: 84px;
}
