.movies {
  padding: 40px 10px 26px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .movies {
    padding: 70px 30px 30px;
  }
}

@media screen and (min-width: 1280px) {
  .movies {
    max-width: 1280px;
    margin: 0 auto;
    padding: 70px 70px 10px;
  }
}

.movies__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  margin: 0 auto;
  width: fit-content;
}

@media screen and (min-width: 768px) {
  .movies__container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .movies__container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }
}
