.header_location_main-page {
  background-color: #073042;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  min-height: 74px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .header__wrapper {
    padding: 0 30px;
  }
}

@media screen and (min-width: 1280px) {
  .header__wrapper {
    max-width: 1280px;
    padding: 0 70px;
    margin: 0 auto;
  }
}

.top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {
    .top-menu {
    justify-content: space-between;
  }
}

.top-menu__link {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  color: white;
  text-decoration: none;
  margin: 0 0 0 16px;
  padding: 0;
  transition: all .3s ease-in-out;
}

.top-menu__link:first-of-type {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .top-menu__link {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .top-menu__link {
    font-size: 14px;
    line-height: 16px;
  }
}

.top-menu__link:hover {
  color: #8B8B8B;
}

.top-menu__link_type_account {
  display: none;
}

@media screen and (min-width: 1024px) {
  .top-menu__link_type_account {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-menu__link_type_account::after {
    content: " ";
    background-image: url(../../images/account_icon.svg);
    width: 26px;
    height: 30px;
    background-position: center;
    background-color: #313131;
    background-repeat: no-repeat;
    display: block;
    border-radius: 4px;
    margin-left: 17px;
    transition: all .3s ease-in-out;
  }

  .top-menu__link_type_account:hover::after {
    opacity: 0.6;
  }

}

.signin-button {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  background-color: #3DDC84;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 5px 12px;
  margin-left: 14px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .signin-button {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .signin-button {
    margin-left: 30px;
  }
}

.signin-button:hover {
  background-color: #66ff99;
}

.burger-menu {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-image: url(../../images/burger-menu.svg);
  background-repeat: no-repeat;
  background-size: 22px 21px;
  background-position: center;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .burger-menu {
    display: none;
  }
}

.burger-menu:hover {
  opacity: 0.6;
}
