.footer {
  padding: 80px 10px 0;
  box-sizing: border-box;
  width: 100%;
  margin: auto auto 10px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 80px 30px 0;
    margin-bottom: 20px
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1280px;
    padding: 80px 30px 20px;
  }
}

.footer__about {
  color: #8B8B8B;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  border-bottom: 1px solid #424242;
  padding: 0 0 21px;
  margin: 0 0 30px;
}

@media screen and (min-width: 768px) {
  .footer__about {
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__links {
    flex-direction: row;
  }
}

.footer__link-container {
  margin-bottom: 12px;
}

.footer__link-container:last-of-type {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .footer__link-container {
    margin: 0 0 0 20px;
  }
  .footer__link-container:last-of-type {
    margin-bottom: 0;
  }
}

.footer__link {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 13px;
    line-height: 16px;
  }
}

.footer__link:hover {
  color: #8B8B8B;
}

.footer__copyright {
  color: #8B8B8B;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    color: white;
  }
}
