.html {
  height: 100%;
}

.page {
  background-color: #202020;
  position: relative;
  height: 100%;
}

.header_main-page {
  background-color: #073042;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  min-height: 74px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding: 0 30px;
  }
}

@media screen and (min-width: 1280px) {
  .header__container {
    max-width: 1280px;
    padding: 0 70px;
    margin: 0 auto;
  }
}

.logo {
  background: url(../src/images/logo.svg);
  width: 38px;
  height: 38px;
}

.top-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-menu__link {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .top-menu__link {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .top-menu__link {
    font-size: 14px;
    line-height: 16px;
  }
}

.top-menu__link_type_account {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-menu__link_type_account::after {
  content: " ";
  background-image: url(../src/images/account_icon.svg);
  width: 26px;
  height: 30px;
  background-position: center;
  background-color: #313131;
  background-repeat: no-repeat;
  display: block;
  border-radius: 4px;
  margin-left: 17px;
}

.signin-button {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500; /*добавить 500 шрифт*/
  font-size: 10px;
  line-height: 16px;
  background-color: #3DDC84;
  border-radius: 3px;
  text-align: center;
  border: 0;
  padding: 5px 12px;
  margin-left: 14px;
  cursor: pointer;
}

.burger-menu {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-image: url(../src/images/burger-menu.svg);
  background-repeat: no-repeat;
  background-size: 28px 23px;
  background-position: center;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .burger-menu {
    display: none;
  }
}


.main {
  width: 100%;
}

.project-logo {
  background-color: #073042;
  background-image: url(../src/images/main_landing_pic.svg);
  background-size: 248px 248px;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 570px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .project-logo {
    background-size: 320px 320px;
    padding: 0 19px;
  }
}

.project-title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 31px;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.04em;
  color: white;
  margin: 0 auto;
  padding: 0;
  max-width: 520px;
}

@media screen and (min-width: 768px) {
  .project-title {
    font-size: 50px;
    line-height: 58px;
    max-width: 730px;
  }
}

.main-menu {
  background-color: #272727;
  min-height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 53px;
}

.main-menu__container {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main-menu__container {
    gap: 40px;
  }
}

.main-menu__link {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .main-menu__link {
    font-size: 13px;
    line-height: 16px;
  }
}

.section {
  padding: 70px 18px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 90px 50px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    max-width: 1280px;
    margin: 0 auto;
    padding: 110px 70px;
  }
}

.section_type_search {
  padding: 84px 18px 50px;
}

.section__title {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid white;
  padding: 0 0 28px;
  margin: 0 0 60px;
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 22px;
    line-height: 27px;
    padding: 0 0 23px;
  }
}

@media screen and (min-width: 768px) {
  .about__container {
    display: flex;
    gap: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .about__container {
    gap: 40px;
  }
}

.about__title {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  padding: 0;
  margin: 0 0 16px;
}

@media screen and (min-width: 768px) {
  .about__title {
    font-size: 20px;
    line-height: 24px;
  }
}

.about__text {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  padding: 0;
  margin: 0 0 56px;
}

@media screen and (min-width: 768px) {
  .about__text {
    font-size: 12px;
    line-height: 18px;
  }
}

.about__text:last-of-type {
  margin-bottom: 60px;
}

.stage {
  display: grid;
  grid-template-columns: 100px 1fr;
}

@media screen and (min-width: 768px) {
  .stage {
    grid-template-columns: 140px 1fr;
  }
}

@media screen and (min-width: 1280px) {
  .stage {
    grid-template-columns: 228px 1fr;
  }
}

.stage__column {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35px;
  color: #A0A0A0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .stage__column {
    font-size: 14px;
    line-height: 17px;
  }
}

.stage__column_color_green {
  background-color: #3DDC84;
  color: black;
}

.stage__column_color_gray {
  background-color: #303030;
  color: white;
}

.tech__title {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.04em;
  text-align: center;
  padding: 0;
  margin: 0 0 24px;
}

@media screen and (min-width: 768px) {
  .tech__title {
    font-size: 50px;
    line-height: 58px;
    margin: 0 0 22px;
  }
}

.tech__description {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.04em;
  text-align: center;
  padding: 0;
  margin: 0 0 50px;
}

@media screen and (min-width: 768px) {
  .tech__description {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 83px;
  }
}

.tech__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: calc(84px * 2 + 10px);
  margin: 0 auto;
}

@media screen and (min-width: 550px) {
  .tech__container {
    width: calc(84px * 4 + 30px);
  }
}

@media screen and (min-width: 768px) {
  .tech__container {
    width: 100%;
    justify-content: center;
  }
}

.tech__icon {
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  border-radius: 10px;
  min-height: 57px;
  width: 84px;
}

@media screen and (min-width: 768px) {
  .student__container {
    display: flex;
    flex-direction: row-reverse;
    gap: 15.67vw;
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 1280px) {
  .student__container {
    gap: 270px;
    margin-bottom: 100px;
  }
}

.student__photo {
  width: 100%;
  max-width: 292px;
  max-height: 352px;
  border-radius: 10px;
  margin-bottom: 40px;
  object-fit: cover;
  object-position: center;
  display: block;
}

@media screen and (min-width: 768px) {
  .student__photo {
    max-width: 255px;
    max-height: 307px;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .student__photo {
    max-width: 270px;
    max-height: 327px;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .student__about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.student__name {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.04em;
  margin: 0 0 20px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .student__name {
    font-size: 40px;
    line-height: 40px;
  }
}

.student__subtitle {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  padding: 0;
  margin: 0 0 20px;
}

@media screen and (min-width: 768px) {
  .student__subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}

.student__about {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  padding: 0;
  margin: 0 0 10px;
}

.student__about:last-of-type {
  margin: 0 0 40px;
}

@media screen and (min-width: 768px) {
  .student__about {
    font-size: 12px;
    line-height: 18px;
  }
}

.student__links {
  list-style: none;
  margin: 0 0 70px;
  padding: 0;
  display: flex;
}

@media screen and (min-width: 768px) {
  .student__links {
    margin: 0;
  }
}

.student__link {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 0 26px 0 0;
  padding: 0;
  color: white;
  text-decoration: none;
}

.portfolio__title {
  color: #A0A0A0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin: 0 0 40px;
}

@media screen and (min-width: 768px) {
  .portfolio__title {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 50px;
  }
}

.portfolio__links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio__link-container {
  border-bottom: 1px solid white;
  padding: 0 0 19px;
  margin: 0 0 20px;
}

.portfolio__link-container:last-of-type {
  border-bottom: unset;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .portfolio__link-container {
    border-bottom: 1px solid #424242;
  }
}

.portfolio__link {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
  padding: 0;
  margin: 0;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
  }
}

.portfolio__link::after {
  content: " ";
  background-image: url(../src/images/arrow_up.svg);
  width: 17px;
  height: 18px;
  background-repeat: no-repeat;
  display: block;
}

.footer {
  padding: 80px 10px 10px;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 80px 30px 20px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1280px;
    padding: 80px 30px 20px;
    margin: 0 auto;
  }
}

.footer__about {
  color: #8B8B8B;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  border-bottom: 1px solid #424242;
  padding: 0 0 21px;
  margin: 0 0 30px;
}

@media screen and (min-width: 768px) {
  .footer__about {
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__links {
    flex-direction: row;
  }
}

.footer__link-container {
  margin-bottom: 12px;
}

.footer__link-container:last-of-type {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .footer__link-container {
    margin: 0 0 0 20px;
  }
  .footer__link-container:last-of-type {
    margin-bottom: 0;
  }
}

.footer__link {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 13px;
    line-height: 16px;
  }
}

.footer__copyright {
  color: #8B8B8B;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    color: white;
  }
}

/* MOVIES */


.search {
  padding: 84px 18px 50px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .search {
    padding: 70px 30px 47px;
  }
}

@media screen and (min-width: 1280px) {
  .search {
    max-width: 1280px;
    margin: 0 auto;
    padding: 70px 70px 47px;
  }
}

.search-form {
  border-bottom: 1px solid #424242;
  padding: 0 0 9px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .search-form {
    padding: 0 0 13px;
  }
}

.search-form__input {
  background-color: transparent;
  border: none;
  height: 34px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #8B8B8B;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .search-form__input {
    font-size: 28px;
    line-height: 34px;
  }
}

.search-form__button {
  width :34px;
  height: 34px;
  background-image: url(../src/images/search.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0 0 0 46px;
  cursor: pointer;
}

.short-movies {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 40px 0 0;
}

@media screen and (min-width: 768px) {
  .short-movies {
    margin: 30px 0 0;
    justify-content: end;
  }
}

@media screen and (min-width: 1280px) {
  .short-movies {
    flex-direction: row-reverse;
    justify-content: start;
  }
}

.short-movies__label {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  line-height: 18px;
  color: white;
  padding: 0;
  margin: 0;
}

.checkbox-stylized {
  width: 36px;
  height: 20px;
  background-image: url(../src/images/smalltumboff.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  margin: 0 0 0 13px;
}

.checkbox-stylized_enabled {
  background-image: url(../src/images/smalltumb.svg);
}

@media screen and (min-width: 1280px) {
  .checkbox-stylized {
    margin: 0 14px 0 0;
  }
}

.movies {
  padding: 40px 10px 26px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .movies {
    padding: 70px 30px 30px;
  }
}

@media screen and (min-width: 1280px) {
  .movies {
    max-width: 1280px;
    margin: 0 auto;
    padding: 70px 70px 10px;
  }
}

.movies__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  margin: 0 auto;
  width: fit-content;
}

@media screen and (min-width: 768px) {
  .movies__container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .movies__container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }
}

.movie {
  background-color: #222222;
  border-radius: 10px;
  overflow: hidden;
}

.movie__thumb {
  width: 93.75vw;
  height: 52.5vw;
  max-width: 364px;
  max-height: 203px;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 768px) {
  .movie__thumb {
    width: 339px;
    height: 190px;
    max-width: unset;
    max-height: unset;
  }
}

@media screen and (min-width: 1280px) {
  .movie__thumb {
    width: 364px;
    height: 203px;
  }
}

.movie__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 7px auto 6px;
}

.movie__title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: white;
  padding: 0;
  margin: 0 0 0 14px;
}

.movie__button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url(../src/images/black_heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
  margin: 0 10px 0 0;
  cursor: pointer;
}

.movie__button_type_saved {
  background-image: url(../src/images/red_heart.svg);
}

.movie__button_type_delete {
  background-image: url(../src/images/cross.svg);
}

.movie__duration {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
  padding: 0;
  margin: 0 0 14px 14px;
}

.show-more-movies {
  display: inherit;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: white;
  padding: 0;
  border: none;
  background-color: #2F2F2F;
  border-radius: 6px;
  width: 100%;
  min-height: 36px;
  cursor: pointer;
  max-width: 364px;
  margin: 50px auto 80px;
}

@media screen and (min-width: 768px) {
  .show-more-movies {
    max-width: calc(339px * 2 + 30px);
  }
}

@media screen and (min-width: 1280px) {
  .show-more-movies {
    max-width: calc(364px * 3 + 24px * 2);
  }
}

